<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556091129190-uc298it0kmkcn4dpgn67gff82b3pmkmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556091129190-uc298it0kmkcn4dpgn67gff82b3pmkmi</string>
	<key>API_KEY</key>
	<string>AIzaSyCATwyZ-KBy-tAagHVRNmPsw7_OuVRAC0w</string>
	<key>GCM_SENDER_ID</key>
	<string>556091129190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodlca</string>
	<key>PROJECT_ID</key>
	<string>foodlca</string>
	<key>STORAGE_BUCKET</key>
	<string>foodlca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556091129190:ios:df96b478ce0eda7b6e5ca7</string>
	<key>DATABASE_URL</key>
	<string>https://foodlca.firebaseio.com</string>
</dict>
</plist>